.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.001s linear;
  }
}

.App-header {
  background-color: #118ab2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.profile{width: 350px;
height: 400px;
background-color: #edf2f4;
border-radius: 20px;
margin: 20px;
color: #073b4c;}

.profile img{width: 50%;
margin-top: 10px;}



.profile h3{margin: 10px;}
.profile p{margin: 5px;
  margin-top: 10px;
text-align: center;}
.paragraphs{
margin-top: 20px;}